{{!-- <div class="person">
  <div class="details">
    {{user.name}}
    <span class="age">({{user.age}})</span>
  </div>
  <div class="slideshow">
    {{#each photo in user.photos}}
      <div class="slide">
        {{#if photo}}
          {{#link-to 'profile' user.id}}{{view view.photoView photoBinding=slide}}{{/link-to}}
        {{/if}}
      </td>
    {{/each}}
  </div>
</div> --}}
<table class="like-item">
  <tr>
    <td class="profil">
      <div class="wrap">
        <div class="username">{{user.name}} <span class="age">{{user.age}}</span></div>
        <div class="info">
          <div class="min-title">Distance</div>
          <div class="min-value">{{user.distance_mi}} miles ({{user.distance_km}} km)</div>
          <div class="min-title">Connection</div>
          <div class="min-value">{{user.ping_time}}</div>
        </div>
        <div class="actions">
          {{#unless user.matchId}}
            <button {{action like 1 target='view'}} {{bind-attr class=':button-patch :big :green user.liked:animate-like-action-in user.disliked:animate-like-action-out'}}>{{view.likeValue}}</button>
            <button {{action like 0 target='view'}} {{bind-attr class=':button-patch :big :red user.disliked:animate-like-action-in user.liked:animate-like-action-out'}}>{{view.dislikeValue}}</button>
          {{else}}
            <button class="button-patch big pink active">Match!</button>
          {{/unless}}
        </div>
      </div>
    </td>
    {{#each photo in user.photos}}
      <td class="photo">
        {{#if photo}}
          {{#link-to 'profile' user.id}}{{view view.photoView photoBinding=photo}}{{/link-to}}
        {{/if}}
      </td>
    {{/each}}
  </tr>
</table>