ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:focus {
    outline: 0;
}
* {
  box-sizing:border-box;
}
::-webkit-scrollbar {
    height: 12px;
    width: 6px;
}
::-webkit-scrollbar-thumb {
    width: 2px;
    background: #cfcfcf;
}
::-webkit-scrollbar-corner {
    background: #000;
}