<div class="match">
  <div class="profil">
    <div class="wrap">
      {{#link-to 'profile' model.person.id}}
        <img {{bind-attr src="model.person.photo"}} class="user-photo">
        <span class="username">{{model.person.name}} <span class="age">{{model.person.age}}</span></span>

      {{/link-to}}
      <span class="informations">Last Online: {{model.person.ping_time}}</span>
    </div>
  </div>
  <ul class="messages">
    {{#each message in model.messages}}
      <li class="item">
        <div class="photo-container"><img {{bind-attr src="message.author.photo" class=":user-photo message.display_photo::hidden"}}></div>
        <div class="message">
          <div {{bind-attr class=":content message.author.its_me:gray"}}>
            {{message.content}}
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
  <form class="write" {{action "submit" on="submit"}}>
    {{textarea class="message-field" value=message placeholder="Write here..."}}
    <button type="submit" class="button post">Post!</button>
  </form>
</div>