.page-matches {
  .match {
    .profil {
      background: #fff;

      .wrap {
        padding: 12px;
      }

      .user-photo {
        margin-right: 12px;
        width: 42px;
        height: 42px;
        border-radius: 4px;
        vertical-align: middle;
      }

      .username {
        vertical-align: -3px;
        font-family: 'Raleway-Regular';
        font-size: 1.4em;
        color: $color-blue-strong;

        .age {
          color: #737F9E;
        }
      }

      .informations {
        margin-left: 12px;
        font-size: 0.8em;
        color: $color-blue-lightest;
      }
    }

    .messages {
      overflow-y: scroll;
      background: #f1f1f1;

      .item {
        display: table;
        margin: 8px 12px;
        overflow: hidden;
      }

      .photo-container {
        display: table-cell;
        width: 42px;
        padding-right: 12px;
        vertical-align: top;
      }

      .user-photo {
        width: 42px;
        height: 42px;
        border-radius: 50%;
      }

      .message {
        display: table-cell;
        vertical-align: top;

        .content {
          margin-bottom: 4px;
          padding: 12px;
          color: #1D1D1F;
          background: #fff;
          box-shadow: 0 2px 2px -2px #ccc;
          border-radius: 8px;
        }

        .gray {
          background: #E7E8EB;
        }
      }
    }

    .write {
      position: relative;
      overflow: hidden;
      width: 100%;
      bottom: 0;
      background: #f1f1f1;

      .message-field {
        width: 100%;
        padding: 12px;
        min-height: 100px;
        border: none;
        background: #fff;
        outline: none;
      }

      .button {
        position: absolute;
        bottom: 12px;
        right: 12px;
      }
    }
  }

  .matches {
    //padding: 32px 0;

    .item {
      margin: 12px 0;
      font-family: 'Raleway-Regular';
      font-size: 1.2em;

      a {
        color: $color-blue-lightest;

        &.active {
          color: #000;
          font-weight: bold;
        }
      }
    }

    .new {
      display: inline-block;
      margin-right: 6px;
      width: 12px;
      height: 12px;
      background: #FFCA90;
      border-radius: 50%;
    }

    .user-photo {
      margin-left: 8px;
      width: 42px;
      height: 42px;
      border-radius: 4px;
      vertical-align: middle;
    }
  }
}