body {
  font-family: 'Roboto-Light';
  font-size: 14px;
  background-color: #fff;
}

.page {
    width: 100%;
}

.update {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px;
  background: #97E4BC;
  color: #fff;
}