.main-side {
  // position: fixed;
  width: 100%;
  //padding: 1em;
  color: $color-blue-lightest;

  background: $color-blue-strong;
  // .top,
  // .side {
  //   padding-right: 32px;
  // }

  .top {
    margin:0;
    background: $color-blue;

    div.slogan, a.bolinter-logo {
      display: inline-block;
    }

    .bolinter-logo {
      //display: inline-block;
      //padding: 32px 0 4px;
      font-family: 'Pacifico';
      font-size: 2.8em;
      line-height: 1em;
      color: #FFCA90;
    }

    .slogan {
      font-family: 'Lato';
      font-size: 0.8em;
    }

    div.user-ribbon {
      float: right;

      a {
        text-decoration: none;
      }
    }
  }

  .side {
    overflow-y: auto;
  }

  ::-webkit-scrollbar-thumb {
    background: #666F86;
  }
}

.main-menu {
  display: inline-block;
  li {
    float: left;
    font-size: 16px;
    padding: 1em;
    a {
    display: block;
    height: 34px;
    line-height: 34px;
    font-family: 'Lato';
    color: $color-blue-lightest;

    &.active {
      color: #fff;
    }
  }

  .user-photo {
    margin-right: 6px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    vertical-align: middle;
  }

  .reset {
    margin-top: 6px;
    color: #000;
    cursor: pointer;
  }
  }

}