.hidden {
	display: none !important;
}
div.tinderella
{
	margin:0;
	padding: 0;
	background: #f2f2f2;

	nav
	{
		background: #000;
		width:inherit;
		&.main
		{

			div.brand, div.sub-navigation, div.user-ribbon {
				display: inline-block;
				padding: 1em;
				height: auto;
				vertical-align: middle;
			}
			div.brand
			{
				a {
					font-weight: bold;
					font-size: 20px;
					line-height: 3;
				}
			}
			div.user-ribbon {
				line-height: 0;
				font-size: 11px;
				text-align: center;
				a {
					color: black;
					font-weight: bolder;
					img {
						display: block;
						border-radius: 60px;
						width:60px;
						border:0;
						//border:1px solid #e2e2e2;
					}
				}
			}
			div.sub-navigation
			{
				ul.main-menu
				{
					display: table;
					li
					{
						display: table-cell;
						vertical-align: middle;
						cursor: pointer;
						padding:.5em;
						color:white;
						font-weight: 500;
						a
						{
							color:inherit;
							font-weight: inherit;

						}
					}
				}
			}
		}
	}
	main {
		width:100%;
		display: table;
		height: auto;
		max-height: 80%;
		div.matches, div.page {
			display: table-cell;
		}
		div.matches {
			width:25%;
			border-right: 1px solid #e2e2e2;

			div.page-matches {

				max-height: 590px;
	    		overflow-y: scroll;
			}
		}
		div.page {
		    width: 75%;
		}
	}

}
ul.messages {
	height: auto;
}