<nav class="main">
  {{!-- <div class="brand">
    {{#link-to 'like' class="bolinter-logo"}}ATinder{{/link-to}}
  </div> --}}
  <div class="user-ribbon">
      {{#link-to 'profile' user._id}}<img class="user-photo" {{bind-attr src="user.photo"}}> {{/link-to}}
  </div>
  <div class="sub-navigation">
    <ul class="main-menu">
      <li>{{#link-to 'like'}}AutoLiker{{/link-to}}</li>
      <li>{{#link-to 'matches'}}Matches{{/link-to}}</li>
      <li {{action "reset"}} class="reset">Logout</li>
    </ul>
  </div>
</nav>
<main>
  <div class="matches">
    {{outlet side}}
  </div>
  <div class="page">
    {{outlet}}
  </div>
</main>