<div class="page-matches">
  <ul class="matches">
    {{#each match in model}}
    <li class="item">
      <img {{bind-attr src="match.person.photo"}} class="user-photo">
      {{#link-to 'matches.match' match._id}}
        {{match.person.name}}
      {{/link-to}}
      {{#if match.new_data}}<i class="new"></i>{{/if}}
      <span class="unmatch">
          {{#link-to 'matches.unmatch' match._id}}
          	x
          {{/link-to}}
       </span>
    </li>
    {{/each}}
  </ul>
</div>